In [1]:
#importing various libs
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams["figure.figsize"] = [12,6]

In [2]:
data_train = pd.read_excel("Data_Train.xlsx")
data_test = pd.read_excel("Test_set.xlsx")

In [3]:
df_ = pd.concat([data_train, data_test])

In [4]:
df_.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [5]:
#Basic Data explorations
df_.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [6]:
df_.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.2+ MB

In [7]:
df_.shape

(13354, 11)

#Feature engineering tasks.
1. Seperating date/month/year
2. Convert numerical to int.
3. Get arrival and dept time right.
4. Get total stops as per ML Perspective.
5. Convert duration into mins
6. Categorical data to one-hot/label-encoding.

In [8]:
df_.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0

In [9]:
#Task 1 done
df_["Day"]=df_["Date_of_Journey"].str.split("/").str[0].astype(int)
df_["Month"]=df_["Date_of_Journey"].str.split("/").str[1].astype(int)
df_["Year"]=df_["Date_of_Journey"].str.split("/").str[2].astype(int)
df_.drop(columns="Date_of_Journey", inplace=True)

In [10]:
#Task 3 Done
df_["Arrival_Time_Hr"] = df_["Arrival_Time"].str.split(" ").str[0].str.split(":").str[0].astype(int)
df_["Arrival_Time_Min"] = df_["Arrival_Time"].str.split(" ").str[0].str.split(":").str[1].astype(int)
df_["Dep_Time_Hr"] = df_["Dep_Time"].str.split(":").str[0].astype(int)
df_["Dep_Time_Min"] = df_["Dep_Time"].str.split(":").str[1].astype(int)
df_.drop(columns=["Dep_Time", "Arrival_Time"], inplace=True)

In [11]:
#Task 4 done
df_["Total_Stops"].unique()
df_["Total_Stops"]=df_["Total_Stops"].map({"non-stop":0,"1 stop":1,"2 stops":2,"3 stops":3,"4 stops":4,"nan":1})

In [12]:
df_.head(2)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year,Arrival_Time_Hr,Arrival_Time_Min,Dep_Time_Hr,Dep_Time_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50

In [13]:
df_.drop(df_[df_['Duration']=='5m'].index.tolist(),axis=0,inplace=True)

In [14]:
duration_hr_as_min = df_["Duration"].str.split(" ").str[0].str.replace("h","").astype(int)*60

In [15]:
df_[df_["Duration"].str.split(" ").str[1].str.replace("m","").astype(int, errors="ignore").isnull()]["Duration"]

2       19h
18      23h
33      22h
44      12h
53       3h
       ...
2588     3h
2598    11h
2604    10h
2607    13h
2622     3h
Name: Duration, Length: 1283, dtype: object

In [16]:
duration_mins = df_["Duration"].str.split(" ").str[1].str.replace("m","").astype(int, errors="ignore").replace(np.nan,0).astype(int)

In [17]:
#End of task 5
df_["Duration_in_mins"] = duration_hr_as_min + duration_mins
df_.drop(columns="Duration",axis=1,inplace=True)

In [20]:
#Dropping Route
df_.drop(columns="Route",axis=1, inplace=True)

In [21]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()

In [23]:
df_['Airline']=labelencoder.fit_transform(df_['Airline'])
df_['Source']=labelencoder.fit_transform(df_['Source'])
df_['Destination']=labelencoder.fit_transform(df_['Destination'])
df_['Additional_Info']=labelencoder.fit_transform(df_['Additional_Info'])

In [24]:
df_.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13351 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           13351 non-null  int32
 1   Source            13351 non-null  int32
 2   Destination       13351 non-null  int32
 3   Total_Stops       13350 non-null  float64
 4   Additional_Info   13351 non-null  int32
 5   Price             10681 non-null  float64
 6   Day               13351 non-null  int32
 7   Month             13351 non-null  int32
 8   Year              13351 non-null  int32
 9   Arrival_Time_Hr   13351 non-null  int32
 10  Arrival_Time_Min  13351 non-null  int32
 11  Dep_Time_Hr       13351 non-null  int32
 12  Dep_Time_Min      13351 non-null  int32
 13  Duration_in_mins  13351 non-null  int32
dtypes: float64(2), int32(12)
memory usage: 938.7 KB

The last four columns that we transferred into label encoding, that needs to be one hot encoded as their original values does not imply any order/ranking so making it (1,2,3...) can make it bias.. so in such situation its better to use one_hot_encoding.

In [27]:
df_1 = pd.get_dummies(df_,columns=["Airline", "Source", "Destination", "Additional_Info"] ,drop_first = True)

In [30]:
df_ = pd.concat([df_,df_1],axis=1)

In [32]:
df_.drop(columns=["Airline", "Source", "Destination", "Additional_Info"], axis=1, inplace=True)

In [34]:
df_.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13351 entries, 0 to 2670
Data columns (total 49 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Total_Stops        13350 non-null  float64
 1   Price              10681 non-null  float64
 2   Day                13351 non-null  int32
 3   Month              13351 non-null  int32
 4   Year               13351 non-null  int32
 5   Arrival_Time_Hr    13351 non-null  int32
 6   Arrival_Time_Min   13351 non-null  int32
 7   Dep_Time_Hr        13351 non-null  int32
 8   Dep_Time_Min       13351 non-null  int32
 9   Duration_in_mins   13351 non-null  int32
 10  Total_Stops        13350 non-null  float64
 11  Price              10681 non-null  float64
 12  Day                13351 non-null  int32
 13  Month              13351 non-null  int32
 14  Year               13351 non-null  int32
 15  Arrival_Time_Hr    13351 non-null  int32
 16  Arrival_Time_Min   13351 non-null  int32
 17  Dep_Time_Hr        13351 non-null  int32
 18  Dep_Time_Min       13351 non-null  int32
 19  Duration_in_mins   13351 non-null  int32
 20  Airline_1          13351 non-null  uint8
 21  Airline_2          13351 non-null  uint8
 22  Airline_3          13351 non-null  uint8
 23  Airline_4          13351 non-null  uint8
 24  Airline_5          13351 non-null  uint8
 25  Airline_6          13351 non-null  uint8
 26  Airline_7          13351 non-null  uint8
 27  Airline_8          13351 non-null  uint8
 28  Airline_9          13351 non-null  uint8
 29  Airline_10         13351 non-null  uint8
 30  Airline_11         13351 non-null  uint8
 31  Source_1           13351 non-null  uint8
 32  Source_2           13351 non-null  uint8
 33  Source_3           13351 non-null  uint8
 34  Source_4           13351 non-null  uint8
 35  Destination_1      13351 non-null  uint8
 36  Destination_2      13351 non-null  uint8
 37  Destination_3      13351 non-null  uint8
 38  Destination_4      13351 non-null  uint8
 39  Destination_5      13351 non-null  uint8
 40  Additional_Info_1  13351 non-null  uint8
 41  Additional_Info_2  13351 non-null  uint8
 42  Additional_Info_3  13351 non-null  uint8
 43  Additional_Info_4  13351 non-null  uint8
 44  Additional_Info_5  13351 non-null  uint8
 45  Additional_Info_6  13351 non-null  uint8
 46  Additional_Info_7  13351 non-null  uint8
 47  Additional_Info_8  13351 non-null  uint8
 48  Additional_Info_9  13351 non-null  uint8
dtypes: float64(4), int32(16), uint8(29)
memory usage: 1.7 MB