In [1]:
#Importing various libs.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("50_Startups.csv")
data.head(2)

   R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.2       136897.80        471784.10    New York  192261.83
1   162597.7       151377.59        443898.53  California  191792.06

In [6]:
#Seperating dependent and independent data
X = data.iloc[:, :-1]
y = data.iloc[:, -1]

In [7]:
#Performing one hot encoding for states column
states = pd.get_dummies(X["State"], drop_first=True)

In [11]:
#Dropping the state column from X
X = X.drop("State",axis=1)
#Now, concating the new encoded state column.
X = pd.concat([X,states], axis=1)

In [14]:
X.head() #One-Hot Encoded

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
#Splitting the test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=3)

In [18]:
from sklearn.linear_model import LinearRegression
multiple_lin_rgsr = LinearRegression()

In [19]:
#Making the model
multiple_lin_rgsr.fit(X_train, y_train)

LinearRegression()

In [20]:
#Prediction
y_predict = multiple_lin_rgsr.predict(X_test)

In [22]:
#Testing
from sklearn.metrics import r2_score
print("Score: ", r2_score(y_test, y_predict))

Score:  0.9160451837879015

In [23]:
#R2 score -> More near to 1, the better the model.